
.add{
    background-color: rgba(236, 251, 238, 255);
    
    border-radius: 20px ;
   display: flex;
   margin-left: 10px;
   
   border: none;
   height: 20px;
   color: #313A46;
}
.addIcon{
    color: #313A46;
    margin: 0px;
    
    
    
}
.addTxt{
    
    font-weight: bold;
    font-size: larger;
}
.addcomponent{
    display: flex;
    margin: 30px;
    border: 10px;
    justify-content: space-between;
    height: 35px;
    background-color: whitesmoke;
    border-radius: 22px;
    
}
.headInput{
    border: none;
    height: 20px;
    outline: none;
}
::placeholder{
    font-size:larger;
}
input:focus{
    text-decoration: none;
    
}
input:focus-within{
    border: 2px solid aqua;
}
.TableHead{
    background-color: #313A46;
    color: white;
    border-spacing: 0px;
    border-collapse: collapse;

    
}
.TableHead .tableCell{
    margin: 0px;
    padding: 0px;
    
}
/*****************PaymentStATUS  PART*********************/
.paymentStatus{
    
    border-radius: 22px;
    background-color: #ffffff;
    margin: 10px;
}
.upperPayment{
    display: flex;
    justify-content: space-between;
}
.paymentStatus{
    color: #7f7f7f;
}
.p{
    margin: 10px;
    color: #dbdbdb;
}
.colorfull{
    display: flex;
    color: #fbfffc;
    margin: 20px;
    margin-bottom: 100px;
    
}
.paid{
    background-color: #50f576;
    text-align: center;
    padding: 15px 20px;
    
    border-bottom-left-radius: 8px;
    border-top-left-radius: 10px;
}
.overdue{
    background-color: #f55050;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px 20px;
}
.colorfull p{
    font-size: 15px;
}

/**********************************************the search space*****************************/
.searchContainer{
    position: relative;
}
.searchContainer input[type="text"]{
    padding-right: 30px;
    border-color: lightgray;
    border-radius: 22px;
}
.searchContainer button {
    position: absolute;
    top: 4px;
    right: 0;
    
    width: 30px;
    border: none;
    background: none;
}
.searchIcon{ 
    color: grey;
}

/**************end searcSpace******************/

.page{
    display: flex;
}
form{

    border-radius: 20px;
    
    align-items: center;
    margin: 50px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    
 
}

input:focus{
    border: 3px solid lightcyan;
  
}
/*right comp of the header which includes global search**/
.rightComp{
    display: flex;

}
.formContainer{
    background-color: beige;
    margin: 30px;
    border-radius: 22px;

}

.labeledInput{
    display: flex;
}
.labeledInput input, .selectPayment{
    height: 20px;
    border-radius: 20px;
    border-color: white;
}

.sections{
    display: flex;
}
.labeledInput input:focus-within {
    border: 2px solid aqua;
}
.addBtn  {
    background-color: grey;
    border-radius: 20px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    margin-right: 10px;
    
}
.backBtn{
    background-color: grey;
        border-radius: 20px;
        font-size: 20px;
        padding: 15px;
        text-align: center;
        margin-left: 10px;
}
/*********************CounterDisplay part*************************/
.displayDark {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
}


.labeledInput label{
    margin-right: 10px;
    padding: 10px;
}
.darkDisplay {
    padding: 10px;
    margin: 2px;
    background-color: #313A46;
    color: white;
    border-radius: 10px;
}

.sect {
    padding: 0px;
    margin: 0px;
    padding-right: 3px;

}

.head {
    padding: 0px 10px;

}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.CounterDisplay {
    background-color: beige;
    border-radius: 22px;
    height: 400px;
    color: #313A46;
    margin-right: 40px;

}
.tableCell{
    padding: 10px 20px;
}


/****************************Add Student Style**********************************/
.addContainer{
    box-shadow: 2px;
}
.counterDisplay{
   width: 30%;
}
.btnColumn{
    display: flex;
    
}
.deleteBtn{
    color: red;
}
.editBtn{
    color: orange;
    
}
.onoffbtn{
    margin-bottom: -500px;
    background-color: pink;
}
.receiptBtn{
    color: green;
}
.btnColumn button{
    border: none;
    background: none;
}
.globalSearch{
    margin-top: -5px;
}


